.inputContainer {
    flex-direction: row;
    align-items: center;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 10px;
    padding: 12px;
    margin-bottom: 15px;
    width: 100%;
    background-color: #f9f9f9;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    resize-mode: contain;
  }
  
  .input {
    flex: 1;
    font-size: 16px;
    color: #000;
  }
  